.vscode 
.git 
build/*
ttms 
EntityKey.dat
Studio.dat
ttms.exe
每天任务.txt
.cz-config.js
node_modules
package-lock.json
package.json
commitlint.config.js
husky.config.js
yarn.lock
.husky
changelog.config.js
yarn-error.log
Play.dat
Seat.dat
Account.dat
Ticket.dat
Studio.dat
StaSale.dat
Schedule.dat
Sale.dat
